<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kayıt Ol</title>
</head>
<style>
     input {
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid grey;
      border-radius: 4px;
      font-family: "DejaVu Sans Mono", Times, serif;
      }
      p, a {
       font-family: "DejaVu Sans Mono", Times, serif;
      }
      h1{
       font-family: "DejaVu Sans Mono", Times, serif;
      }
</style>
<body>
<div style="text-align:center; margin-top: 15%; ">
<h1>Yeni Kayıt Oluştur</h1>
<form method="POST">
    <P>Mail Adresi:<input type="text" name="mail" style="margin-left: auto;"></P>
    <P>Şifre:<input type="password" name="pass" style="margin-left: 61px;"></P>
    <input type="submit" value="Kayıt Ol" style="margin-left: auto;">
    <p><a href="{{url_for('login')}}">Giriş Yap.</a>
</form>
    <p>{{kayitBasarili}}</p>
    <p>{{kayitHatali}}</p>
</div>
</body>
</html>